/* External stylesheet for background and font color */
body {
    background-image: url('pic1.avif');
    font-family: 'Verdana', sans-serif;
    color: #333;
  }
  
  header h1 {
    color: #4CAF50;
  }
  
  a {
    text-decoration: none;
    color: #0066CC;
  }
  